%h1 Contact
  %body Whether you need a part-time virtual marketing communications department or a great copywriter to provide back-up for your marketing team, I'll contribute fresh ideas and an unbiased view. My rates (hourly or flat-rate) are reasonable and I always meet deadlines. I will be happy to provide a free consultation on your next project and discuss how I can help make your business communications golden.

  I look forward to working with you!

  Pamela Rentz


  %input Name
  %input Email
  %input Phone Number
  %input Message
  %a 'Send Message'