%h1 Expertise
  %h2 Contributed Articles, Case Studies, SEO-Optimized News Releases, Website Content, White Papers, Newsletters, Blogs, Brochures, Editing and Proofing.

  %body
  I create and curate content across a wide range of markets and topics - telecom, mobile, business process outsourcing, the Cloud, contact centers, IT, financial and property management, to name a few. Outsourcing any or all of your writing and editing projects with me gives you access to a senior-level writeer when you need one, without hte associated costs of an additional staff position.