%section.home
  %h1 Creating and Curating Marketing Content That Cultivates Results

  %p  
    Does your company need marketing content that will engage your audience and communicate your brands unique advantages?

    With more than 18 years of copywriting expertise, I help global and national B2B technology companies communicate benefits and features in a way that inspires prospects and customers to take action.