%section.site-header.fixed
  %div.left
    =image_tag "GramsLogo_withoutline.png"
  %h1 B2B Marketing Copywriter - Technology Sherpa
  %nav.top-bar.fixed
    %ul
      %li
        %a(href="#contact") Contact
      %li
        %a(href="#about") About
      %li
        %a(href="#expertise") Expertise
      %li
        %a(href="#intro") Home
    

%div#intro{'parallax-background parallax-ratio'=> "0.2"}
  %div.row
    %section.home-section
      %div
        %h1 Creating and Curating Marketing Content That Cultivates Results
        %div.row
        %p  
          Does your company need marketing content that will engage your audience and communicate your brands unique advantages?

          With more than 18 years of copywriting expertise, I help global and national B2B technology companies communicate benefits and features in a way that inspires prospects and customers to take action.
          
%div#expertise{'parallax-background parallax-ratio'=> "0.5"}
  %div.row
    %section.expertise-section
    
      %h1 Expertise
      %div.panel Contributed Articles, Case Studies, SEO-Optimized News Releases, Website Content, White Papers, Newsletters, Blogs, Brochures, Editing and Proofing.

      %p
        %b 
          I create and curate content across a wide range of markets and topics - 
        %p
          telecom, mobile, business process outsourcing, the Cloud, contact centers, IT, financial and property management, to name a few. Outsourcing any or all of your writing and editing proects with me gives you access to a senior-level writer when you need one, without the associated costs of an additional staff position.
%div#about
  %div.row
  %section.about-section
    %h1 About
    %h2 Basically, I'm a technology Sherpa.
    %p
      I make a living spinning and weaving words to guide viewers and readers to a destination. As a non-technical person, I communicate complext technical material in a way that's easy for your audience to follow. From discovering the right message and outlining key points through draft and final copy -- I bring ideas into focus.

      Originally from St. Louis, I'm an Atlanta-based freelance writer with more than 18 years of writing, editing, marketing communications and public relations experience with B2B companies. I hold a Bachelor of Journalism degree from the Missouri School of Journalism at the University of Missouri-Columbia. I'm also a Georgia Master Gardner who believes David Austen English roses can flourish in humid Atlanta.

%section#contact.contact-section
  %h1 Contact
  %p
    Whether you need a part-time virtual marketing communications department or a great copywriter to provide back-up for your marketing team, I'll contribute fresh ideas and an unbiased view. My rates (hourly or flat-rate) are reasonable and I always meet deadlines. I will be happy to provide a free consultation on your next project and discuss how I cna help make your business communications golden.

    I look forward to working with you!

    Pamela Rentz
    %div.row
      %input Name
    %div.row
      %input Email
    %div.row
      %input Phone Number
    %div.row
      %input Message
    %div.row
      %submit.button Send Message


